@import url('./reset.css');

body 
{
	background: url("./img/top.gif") repeat-x scroll center top #F0F7ED;
}

.display-label
{
    font-weight: bold;
}

.entry-with-inline-form form
{
    display: inline;
}

#navigation 
{
	width: 814px;
	height: 40px;
	margin: 0 auto;
	margin-top: 5px;
}

#navigation #menu {
	list-style: none outside none;
	float: right;
}

#navigation #menu li 
{
	color:#7E8972;
	font:italic 16px Georgia,Garamond,"Times New Roman",serif;
	height:27px;
	padding:5px 3px 0 7px;
	text-decoration:none;
	float: left;
	float: left;
}

#navigation #menu li a
{
	color:#7E8972;
	font:italic 16px Georgia,Garamond,"Times New Roman",serif;
	height:27px;
	padding:5px 3px 0 7px;
	text-decoration:none;
	float: left;
}

#navigation #menu li a:hover , #navigation #menu li a:active
{
	color:#79B4B4;
	font:italic 16px Georgia,Garamond,"Times New Roman",serif;
	height:27px;
	padding:5px 3px 0 7px;
	text-decoration:none;
	float: left;
}
	

#content {
	width: 925px;
	margin: 0 auto;
	padding: 25px 0;
	text-align: left;
	background-position: 511px 50px;
}

/* Min-height voodoo hack */
#content.main {
	min-height: 950px;
	height: auto !important;
	height: 950px;
}

#header #logo a:link, #header #logo a:visited, #header #logo a:hover, #header #logo a:active {
	display: block;
	width: 824px;
	height: 113px;
	margin: 0 auto;
	background: transparent url('./img/logo.png') no-repeat;
	text-indent: -9999px;
}
	
#footer {
  display: block;
  clear: both;
  background-color: #85c041;
  font: 0.77em Tahoma, Helvetica, sans-serif;
  color: #f0f7ed;
  border-top: 3px solid #a5d074;
  padding: 5px 5px;
  text-align:center;
}

#footer p{
  padding-left:30px;
}
